{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "debug xv6",
      "type": "cppdbg",
      "request": "launch",
      "program": "${workspaceFolder}/kernel/kernel",
      "args": [],
      "miDebuggerServerAddress": "localhost:1234",
      "cwd": "${workspaceFolder}",
      "environment": [],
      "externalConsole": false,
      "stopAtEntry": true,
      "MIMode": "gdb",
      "miDebuggerPath": "/usr/local/bin/riscv64-unknown-elf-gdb",
      "setupCommands": [
        {
        "description": "pretty printing",
        "text": "-enable-pretty-printing",
        "ignoreFailures": true,
        },
        //在这里加载了寄存器信息表
        {
        "text": "set tdesc filename myxml.xml",
        }
        ],
    }
  ]
}